@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body {
	font-family: 'NanumSquareRound', sans-serif;
	min-width: 800px;
}

.table-box-type-1 > table th,
.table-box-type-1 > table td {
	border: 1px solid #999;
	text-align: center;
}
