@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body {
	font-family: 'GmarketSansMedium', sans-serif;
}

.table-box-type-1 > table {
	width: 100%;
}

.table-box-type-1 > table th,
.table-box-type-1 > table td {
	border: 1px solid #999;
	padding: 10px;
	text-align: center;
}

.btn-text-link {
	display: inline-block;
	background-color: rgba(236, 72, 153)!important;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	color: #fff;
}